@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --text: #fff;
    --header: #415a77;
    --active: #0d1b2a;
    --background: #e0e1dd;
    --border: #778da9;
}

#root{
    font-family: "Roboto", sans-serif;
}

.form-control:focus,
.form-control:active,
.form-control:hover {
  box-shadow: none !important;
  outline: none !important;
  border-color: #d1e1f0 !important;
}

.brand-image{
    width: 45.25px;
    height: 45.25px;
    object-fit: contain;
}

.reply-image{
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.form-inputs{
    border: 1px solid lightgray;
    border-radius: 25px 25px;
}

.w-80{
    width: 80%;
}

.vh-75{
    height: 75vh;
}

.uploaded-image{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.chat-image{
    width: 250px;
    height: 100%;
    object-fit: scale-down;
}

.bg-custom-light{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
}
.bg-custom-dark{
    background-color: #d1e1f0;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
    color: black;
}
.history-item{
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 3px;
}
.history-item:hover{
    background-color: #d6e0e5;
    border-color: #d6e0e5;
    cursor: pointer;
}
.history-item-active{
    background-color: #AEC6CF;
}
.edit-chat{
    display: none;
}
.chat-container:hover .edit-chat{
    display: block;
}
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    animation: fadeIn 0.5s;
}